<h1>Steps needed to set up docker for Rails </h1>
<ol>
  <% @steps.each do |step| %>
    <li>
      <%= link_to(step.name, step) %>
    </li>
  <% end %>
</ol>

<%= link_to("Create New Step", new_step_path) %>
