<h1><%= @step.name %></h1>

<p><%= @step.description %></p>

<ul>
  <li><%= link_to("Edit Step", edit_step_path(@step)) %></li>
  <li><%= link_to "Destroy Step", @step, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
  <li><%= link_to("Back to overview", root_path) %></li>
</ul>
